-
    var links = [
        {number:"➊", title: "Головна", url: '/'},
        {number:"➋", title: "Про компанію", url: '/about'},
        {number:"➌", title: "Проєкти", url: '/projects'},
        {number:"➍", title: "Послуги", url: '/services'},
        {number:"➎", title: "Історія компанії", url: '/history'},
        {number:"➏", title: "Новини", url: '/news'},
        {number:"➐", title: "Контакти", url: '#contact-screen'},
    ]
nav.menu(data-lenis-prevent data-menu)
    .menu__bg
        img(src="./assets/images/menu-bg.jpg", alt="").menu__bg-full
        img(data-once-src="./assets/images/menu-bg-build.png", alt="").menu__bg-right
    .menu__content
        each val, index in links
            -
                var isActive = index == 0 ? 'active' : ''
            a(href=val.url class=isActive+' menu__link' data-title=val.title) 
                .menu__link-inner.text-style-1920-h-1.text-style-768-h-1.text-style-375-h-1(data-title=val.title ) 
                    span #{val.title}
                .menu__link-number  #{val.number}
    .title-decor
        <svg width="41" height="10" viewBox="0 0 41 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.5 0.5C38.9853 0.5 41 2.51472 41 5C41 7.48528 38.9853 9.5 36.5 9.5C35.4354 9.5 34.4573 9.13028 33.6869 8.51223C32.1204 7.2554 30.5084 5.5 28.5 5.5C26.4916 5.5 24.8796 7.2554 23.3131 8.51223C22.5427 9.13028 21.5646 9.5 20.5 9.5C19.4354 9.5 18.4573 9.13028 17.6869 8.51223C16.1204 7.2554 14.5084 5.5 12.5 5.5C10.4916 5.5 8.87961 7.2554 7.31306 8.51223C6.54272 9.13028 5.56462 9.5 4.5 9.5C2.01472 9.5 0 7.48528 0 5C0 2.51472 2.01472 0.5 4.5 0.5C5.56462 0.5 6.54271 0.869723 7.31306 1.48777C8.87961 2.7446 10.4916 4.5 12.5 4.5C14.5084 4.5 16.1204 2.7446 17.6869 1.48777C18.4573 0.869723 19.4354 0.5 20.5 0.5C21.5646 0.5 22.5427 0.869723 23.3131 1.48777C24.8796 2.7446 26.4916 4.5 28.5 4.5C30.5084 4.5 32.1204 2.7446 33.6869 1.48777C34.4573 0.869723 35.4354 0.5 36.5 0.5Z" fill="#0A0F13"/>
        </svg>
        .title-decor-line
        <svg style="flex-shrink: 0" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.5794 5.41959C17.6959 6.53607 17.6959 8.34626 16.5794 9.46275C16.1191 9.92303 15.5409 10.1935 14.9421 10.2743C13.6023 10.4549 11.9761 10.3598 11.0201 11.3158C10.0642 12.2717 10.1592 13.898 9.9785 15.2378C9.89774 15.8367 9.62721 16.4149 9.16691 16.8752C8.05042 17.9917 6.24024 17.9917 5.12375 16.8752C4.00726 15.7587 4.00726 13.9485 5.12375 12.832C5.58405 12.3718 6.16225 12.1012 6.76115 12.0205C8.10096 11.8398 9.72722 11.9348 10.6832 10.9788C11.6391 10.0229 11.5441 8.39666 11.7247 7.05685C11.8054 6.45802 12.0759 5.87987 12.5362 5.41959C13.6527 4.3031 15.4629 4.3031 16.5794 5.41959Z" fill="#0A0F13"/>
            <path d="M16.5794 16.8752C15.4629 17.9917 13.6527 17.9917 12.5362 16.8752C12.0759 16.4149 11.8054 15.8368 11.7247 15.2379C11.5441 13.8981 11.6391 12.2719 10.6832 11.316C9.72722 10.36 8.10096 10.455 6.76115 10.2743C6.16225 10.1936 5.58405 9.92305 5.12375 9.46275C4.00726 8.34626 4.00726 6.53607 5.12375 5.41959C6.24024 4.3031 8.05042 4.3031 9.16691 5.41959C9.62721 5.87988 9.89774 6.45809 9.9785 7.05698C10.1592 8.39679 10.0642 10.0231 11.0201 10.979C11.9761 11.935 13.6023 11.8399 14.9421 12.0205C15.5409 12.1013 16.1191 12.3718 16.5794 12.832C17.6959 13.9485 17.6959 15.7587 16.5794 16.8752Z" fill="#0A0F13"/>
        </svg>
