
extends ../layout/main
block variable
  -
    var title_page = 'Про компанію'
    var id_page = 'id-page-about'
    var class_page = 'class-page-about'
    var breadcrumbsSubitem = [
    ]
    var block1Cards = [
      { titleClass: "color-white", numberClass: "color-white", number: '➀', title: "Сучасні школи", img: './assets/images/about/about-block1/1.jpg' },
      { titleClass: "color-white", numberClass: "color-white", number: '➁', title: "Престижні медичні центри", img: './assets/images/about/about-block1/2.jpg' },
      { titleClass: "color-black", numberClass: "color-white", number: '➂', title: "Унікальні сакральні споруди", img: './assets/images/about/about-block1/3.jpg' },
      { titleClass: "color-white", numberClass: "color-white", number: '➃', title: "Житлові комплекси", img: './assets/images/about/about-block1/4.jpg' },
      { titleClass: "color-white", numberClass: "color-black", number: '➄', title: "Готелі", img: './assets/images/about/about-block1/5.jpg' },
    ]
    var block3 = [
      {
        'number': '➀',
        'img': './assets/images/about/about-block3/1.jpg',
        'text': 'Активна соціальна позиція: меценатство, допомога ЗСУ, підтримка громад;'
      },
      {
        'number': '➁',
        'img': './assets/images/about/about-block3/2.jpg',
        'text': 'Понад 270 фахівців, велика частина з яких працює понад 25 років;'
      },
      {
        'number': '➂',
        'img': './assets/images/about/about-block3/3.jpg',
        'text': 'Міжнародний досвід із успішними проєктами у Польщі, Австрії та Словенії;'
      },
      {
        'number': '➃',
        'img': './assets/images/about/about-block3/4.jpg',
        'text': 'Підхід, де краса, функціональність і довговічність утворюють єдине ціле;'
      }
    ]

    var block5 = [
      {number: '➀', text: 'Якість понад усе', img: './assets/images/about/about-block5/1.jpg',},
      {number: '➁', text: 'Професіоналізм і майстерність', img: './assets/images/about/about-block5/2.jpg',},
      {number: '➂', text: 'Європейські стандарти', img: './assets/images/about/about-block5/3.jpg',},
      {number: '➃', text: 'Соціальна відповідальність', img: './assets/images/about/about-block5/4.jpg',},
      {number: '➄', text: 'Люди — наша гордість', img: './assets/images/about/about-block5/5.jpg',},
      {number: '➅', text: 'Чесність і репутація', img: './assets/images/about/about-block5/6.jpg',},
      {number: '➆', text: 'Мислення на покоління вперед', img: './assets/images/about/about-block5/7.jpg',},
    ]
    var block7 = [
      {number: '➀', text: 'Нашими пріоритетами є розвиток якісного житлового середовища з акцентом на комфорт, безпеку й естетику, а також зміцнення позицій на ринку комерційних і громадських об’єктів.', img: './assets/images/about/about-block7/1.jpg',},
      {number: '➁', text: 'Ми прагнемо розширювати співпрацю з українськими та міжнародними партнерами, удосконалювати внутрішні процеси й впроваджувати передові технології.', img: './assets/images/about/about-block7/2.jpg',},
      {number: '➂', text: 'Особливу увагу приділятимемо інвестиціям у команду і збереженню професійної спадковості.', img: './assets/images/about/about-block7/3.jpg',},
      {number: '➃', text: 'Крім того, ми активно підтримуватимемо соціальні ініціативи, залишаючись відповідальним бізнесом, орієнтованим на сталий розвиток, довіру й створення довготривалої цінності для суспільства.', img: './assets/images/about/about-block7/4.jpg',},
    ]
    var block8 = [
      {"filename": "./assets/images/about/about-block8/1.jpg",text: 'Чемпіонат України з футзалу “1 місце”'},
      {"filename": "./assets/images/about/about-block8/2.jpg",text: 'Чемпіонат України з футзалу “1 місце”'},
      {"filename": "./assets/images/about/about-block8/3.jpg",text: 'Чемпіонат України з футзалу “1 місце”'},
      {"filename": "./assets/images/about/about-block8/5.jpg",text: 'Чемпіонат України з футзалу “1 місце”'},
      {"filename": "./assets/images/about/about-block8/4.jpg",text: 'Чемпіонат України з футзалу “1 місце”'},
      {"filename": "./assets/images/about/about-block8/6.jpg",text: 'Чемпіонат України з футзалу “1 місце”'},
      {"filename": "./assets/images/about/about-block8/7.jpg",text: 'Чемпіонат України з футзалу “1 місце”'},
      {"filename": "./assets/images/about/about-block8/8.jpg",text: 'Чемпіонат України з футзалу “1 місце”'}
    ]
    var block9 = [
      {"filename": "./assets/images/about/about-block9/1.jpg",text: 'Чемпіонат України з футзалу “1 місце”'},
      {"filename": "./assets/images/about/about-block9/2.jpg",text: 'Чемпіонат України з футзалу “1 місце”'},
      {"filename": "./assets/images/about/about-block9/3.jpg",text: 'Чемпіонат України з футзалу “1 місце”'},
      {"filename": "./assets/images/about/about-block9/4.jpg",text: 'Чемпіонат України з футзалу “1 місце”'},
      {"filename": "./assets/images/about/about-block9/5.jpg",text: 'Чемпіонат України з футзалу “1 місце”'}
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/about.bundle.js')
block content
  .inner-front-screen
    .inner-front-screen__bg
      img(src="./assets/images/about/bg.jpg", alt="", srcset="")
    .inner-front-screen__content
      include ../includes/breadcrumbs.pug
      .inner-front-screen__title.text-style-1920-h-1.text-style-768-h-1.text-style-375-h-1.color-black #{title_page}
      +title-decor-inner-pages()
  .about-block1.g_side_padding
    .about-block1__part1
      .text-style-1920-h-2 TVD — будівельна компанія, що змінює уявлення про якість. Це команда людей, які понад 30 років створюють простір, гідний Європи, але з українським серцем.
      .text-style-1920-h-3 Компанію заснував інженер, натхненний німецькою точністю та культурою будівництва. Відтоді TVD стала піонером приватного та інфраструктурного будівництва в Україні, першою впроваджуючи технології та стандарти, які нині є нормою: від бездоганних внутрішніх робіт до складних інженерних рішень.
    .about-block1__title2.text-style-1920-h-2 На рахунку TVD — десятки визначних об'єктів:
    // Це картки для десктопа id -- БЛОК1
    .about-block1__cards.hide-on-mobile
      each val in block1Cards
        .about-block1__card-wrapper
          .about-block1__card
            .about-block1__card-img
              img(src=val.img alt="about-block1-card" loading="lazy")
            .about-block1__card-text
              .about-block1__card-number.text-style-1920-h-3(class=val.numberClass) #{val.number}
              .about-block1__card-title.text-style-1920-h-2(class=val.titleClass) #{val.title}
    // Це картки для мобільних id -- БЛОК1
    .swiper-container.hide-on-tablet.hide-on-desktop(data-block1-mobile-slider)
      .swiper-wrapper
        each val in block1Cards
          .swiper-slide
            .about-block1__card-wrapper
              .about-block1__card
                .about-block1__card-img
                  img(src=val.img alt="about-block1-card" loading="lazy")
                .about-block1__card-text
                  .about-block1__card-number.text-style-1920-h-3(class=val.numberClass) #{val.number}
                  .about-block1__card-title.text-style-1920-h-2(class=val.titleClass) #{val.title}
      .about-block1__mobile-navigation
        <svg data-about-block1-slider-prev width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_11051_15120)">
          <path d="M58.0005 11.9995L2.99935 11.9997M2.99935 11.9997L12.9871 21.9874M2.99935 11.9997L12.9871 2.01191" stroke="#0A0F13" stroke-width="4"/>
          <rect x="2.29102" y="9.87" width="3" height="3" transform="rotate(45 2.29102 9.87)" fill="#0A0F13"/>
          </g>
          <defs>
          <clipPath id="clip0_11051_15120">
          <rect width="39" height="24" fill="white" transform="matrix(-1 0 0 1 39 0)"/>
          </clipPath>
          </defs>
        </svg>
        <svg data-about-block1-slider-next width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_11051_15124)">
          <path d="M-19.0005 12.0005L36.0007 12.0003M36.0007 12.0003L26.0129 2.01257M36.0007 12.0003L26.0129 21.9881" stroke="#0A0F13" stroke-width="4"/>
          <rect x="36.709" y="14.13" width="3" height="3" transform="rotate(-135 36.709 14.13)" fill="#0A0F13"/>
          </g>
          <defs>
          <clipPath id="clip0_11051_15124">
          <rect width="39" height="24" fill="white" transform="matrix(1 1.74846e-07 1.74846e-07 -1 0 24)"/>
          </clipPath>
          </defs>
        </svg>



  .about-block2
    .about-block2__bg
      img(src="./assets/images/about/about-block2/bg.jpg", alt="", srcset="")
    .about-block2__text.text-style-1920-h-1.color-white(data-split-lines-new-animation) Кожен проєкт створений із думкою про людину, її комфорт та майбутнє
  .about-block3
    .about-block3__title.text-style-1920-h-2(data-split-lines-new-animation) Компанія TVD — це:
    .about-block3__cards.hide-on-mobile
      each val in block3
        .about-block3__card-wrapper
          .about-block3__card
            .about-block3__card-img
              img(src=val.img alt="about-block3-card" loading="lazy")
            .about-block3__card-text
              .about-block3__card-number.text-style-1920-h-3(class=val.numberClass) #{val.number}
              .about-block3__card-title.text-style-1920-h-3(class=val.titleClass) #{val.text}
    .swiper-container.hide-on-tablet.hide-on-desktop(data-block3-mobile-slider)
      .swiper-wrapper
        each val in block3
          .swiper-slide
            .about-block3__card-wrapper
              .about-block3__card
                .about-block3__card-img
                  img(src=val.img alt="about-block3-card" loading="lazy")
                .about-block3__card-text
                  .about-block3__card-number.text-style-1920-h-3(class=val.numberClass) #{val.number}
                  .about-block3__card-title.text-style-1920-h-3(class=val.titleClass) #{val.text}
      .about-block3__mobile-navigation
        <svg data-block3-mobile-slider-prev width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_11051_15120)">
          <path d="M58.0005 11.9995L2.99935 11.9997M2.99935 11.9997L12.9871 21.9874M2.99935 11.9997L12.9871 2.01191" stroke="#0A0F13" stroke-width="4"/>
          <rect x="2.29102" y="9.87" width="3" height="3" transform="rotate(45 2.29102 9.87)" fill="#0A0F13"/>
          </g>
          <defs>
          <clipPath id="clip0_11051_15120">
          <rect width="39" height="24" fill="white" transform="matrix(-1 0 0 1 39 0)"/>
          </clipPath>
          </defs>
        </svg>
        <svg data-block3-mobile-slider-next width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_11051_15124)">
          <path d="M-19.0005 12.0005L36.0007 12.0003M36.0007 12.0003L26.0129 2.01257M36.0007 12.0003L26.0129 21.9881" stroke="#0A0F13" stroke-width="4"/>
          <rect x="36.709" y="14.13" width="3" height="3" transform="rotate(-135 36.709 14.13)" fill="#0A0F13"/>
          </g>
          <defs>
          <clipPath id="clip0_11051_15124">
          <rect width="39" height="24" fill="white" transform="matrix(1 1.74846e-07 1.74846e-07 -1 0 24)"/>
          </clipPath>
          </defs>
        </svg>
    .about-block3__description.text-style-1920-h-2(data-split-lines-new-animation) У світі, де «швидко і дешево» стало нормою, TVD доводить, що будівництво може бути мистецтвом, а бізнес — чесним і відповідальним.
  .about-block4
    .about-block4__bg
      img(src="./assets/images/about/about-block4/bg.jpg", alt="", srcset="")
    .about-block4__content
      +title-decor()
      .about-block4__title.text-style-1920-h-1.text-style-375-h-1(data-split-lines-new-animation) Наша місія
      .about-block4__text.text-style-1920-h-2.color-white(data-split-lines-new-animation) Створювати простір, у якому хочеться жити, працювати й зростати, піднімаючи культуру будівництва та життя в Україні на новий рівень.
  .about-block5.g_side_padding
    .about-block5__content
      +title-decor()
      .about-block5__title.text-style-1920-h-1.text-style-375-h-1(data-split-lines-new-animation) Цінності компанії
      .about-block5__list
        each val in block5
          .about-block5__item
            .about-block5__item-number.text-style-1920-h-3 #{val.number}
            .about-block5__item-img-wrap
              .about-block5__item-img
                img(src=val.img alt="about-block5-item" loading="lazy")
            .about-block5__item-text-wrap
              .about-block5__item-title.text-style-1920-h-2 #{val.text}
              .about-block5__item-text Ми не економимо на матеріалах, технологіях чи процесах. Кожен наш проєкт — це еталон будівельної культури, довговічності та естетики.
        .about-block5__card
          .about-block5__card-text.text-style-1920-h-3 TVD — від бездоганних внутрішніх робіт до складних інженерних рішень
          .about-block5__card-img-wrap
            .about-block5__card-img
              img(src="./assets/images/about/about-block5/card.jpg" alt="about-block5-card" loading="lazy")
      .about-block5__mobile-navigation.hide-on-tablet.hide-on-desktop
        <svg data-block5-mobile-slider-prev width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_11051_15120)">
          <path d="M58.0005 11.9995L2.99935 11.9997M2.99935 11.9997L12.9871 21.9874M2.99935 11.9997L12.9871 2.01191" stroke="#0A0F13" stroke-width="4"/>
          <rect x="2.29102" y="9.87" width="3" height="3" transform="rotate(45 2.29102 9.87)" fill="#0A0F13"/>
          </g>
          <defs>
          <clipPath id="clip0_11051_15120">
          <rect width="39" height="24" fill="white" transform="matrix(-1 0 0 1 39 0)"/>
          </clipPath>
          </defs>
        </svg>
        <svg data-block5-mobile-slider-next width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_11051_15124)">
          <path d="M-19.0005 12.0005L36.0007 12.0003M36.0007 12.0003L26.0129 2.01257M36.0007 12.0003L26.0129 21.9881" stroke="#0A0F13" stroke-width="4"/>
          <rect x="36.709" y="14.13" width="3" height="3" transform="rotate(-135 36.709 14.13)" fill="#0A0F13"/>
          </g>
          <defs>
          <clipPath id="clip0_11051_15124">
          <rect width="39" height="24" fill="white" transform="matrix(1 1.74846e-07 1.74846e-07 -1 0 24)"/>
          </clipPath>
          </defs>
        </svg>
  .about-block6
    .about-block6__bg
      img(src="./assets/images/about/about-block6/bg.jpg", alt="", srcset="")
    .about-block6__content
      +title-decor()
      .about-block6__title.text-style-1920-h-1.text-style-375-h-1.color-white(data-split-lines-new-animation) Наша мета
      .about-block6__text.color-white
        div.text-style-1920-h-2 Будувати не просто об’єкти, а цінності, що служать людям десятиліттями. 
        div.text-style-1920-h-3 Ми прагнемо поєднувати європейську якість із українським характером, формуючи нове покоління професіоналів і створюючи архітектуру, яка змінює міста й долі.
  .about-block7.g_side_padding
    .about-block7__content
      +title-decor()
      .about-block7__title.text-style-1920-h-1.text-style-375-h-1.color-black(data-split-lines-new-animation) Наші плани на майбутнє
      each val in block7
        .about-block7__item
          .about-block7__item-img-wrap
            .about-block7__item-img
              .about-block7__item-img-cover
              img(src=val.img alt="about-block7-item" loading="lazy")
          .about-block7__item-text
            .about-block7__item-text-number.text-style-1920-h-3 #{val.number} 
            .about-block7__item-text-text.text-style-1920-h-2(data-split-lines-new-animation) #{val.text}
  .about-block8.g_side_padding
    .about-block8__content
      +title-decor()
      .about-block8__top
        .text-style-1920-h-1 Будівельні нагороди
        .about-block8__nav
          button(type="button" data-home-projects-slider-prev).nav-arrow
            <svg width="60" height="24" viewBox="0 0 60 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M59.0005 11.9995L3.99935 11.9997M3.99935 11.9997L13.9871 21.9874M3.99935 11.9997L13.9871 2.01191" stroke="#0A0F13" stroke-width="4"/>
              <rect x="4.07843" y="9.18" width="4" height="4" transform="rotate(45 4.07843 9.18)" fill="#0A0F13"/>
            </svg>
          button(type="button" data-home-projects-slider-next).nav-arrow
            <svg width="60" height="24" viewBox="0 0 60 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.999501 11.9995L56.0006 11.9997M56.0006 11.9997L46.0129 21.9874M56.0006 11.9997L46.0129 2.01191" stroke="#0A0F13" stroke-width="4"/>
              <rect x="56.0284" y="9.14" width="4" height="4" transform="rotate(45 56.0284 9.14)" fill="#0A0F13"/>
            </svg>
      .swiper-container(data-home-projects-slider)
        .swiper-wrapper
          each project, index in block8
            .swiper-slide.about-block8__slide(data-home-projects-slide)
              .about-block8__img-wrapper
                .about-block8__img-wrapper-cover
                img(src=project.filename alt="" loading="lazy", srcset="")
              .about-block8__text.color-black #{project.text}
  .about-block-sport.g_side_padding
    .about-block-sport__bg
      .about-block-sport__bg-overlay
        .about-block-sport__bg-overlay-gradient1
        .about-block-sport__bg-overlay-gradient2
        .about-block-sport__bg-overlay-gradient3
        .about-block-sport__bg-overlay-gradient4
      img(src="./assets/images/about/about-block-sport/bg.jpg", alt="", srcset="")
    .about-block-sport__content
      +title-decor()
      .about-block-sport__title.text-style-1920-h-1.text-style-375-h-1.color-white(data-split-lines-new-animation) Спорт
      .about-block-sport__card
        .about-block-sport__card__bg
          img(src="./assets/images/about/about-block-sport/footzal.jpg", alt="", srcset="")
        .about-block-sport__card-text
          .about-block-sport__card-text-top
            div Теведисти-будівельники
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 3C11.3645 3 12.4706 4.10612 12.4706 5.47059C12.4706 6.0331 12.2826 6.55167 11.966 6.96692C11.2577 7.896 10.2059 8.83161 10.2059 9.99989C10.2059 11.1682 11.2577 12.1038 11.966 13.0329C12.2826 13.4483 12.4706 13.9669 12.4706 14.5294C12.4706 15.8939 11.3645 17 10 17C8.63553 17 7.52941 15.8939 7.52941 14.5294C7.52941 13.9669 7.71742 13.4483 8.03402 13.0329C8.74231 12.1038 9.79412 11.1682 9.79412 9.99989C9.79412 8.83161 8.74231 7.896 8.03399 6.96692C7.71741 6.55167 7.52941 6.0331 7.52941 5.47059C7.52941 4.10612 8.63553 3 10 3Z" fill="#0A0F13"/>
              <path d="M17 10C17 11.3645 15.8939 12.4706 14.5294 12.4706C13.9669 12.4706 13.4483 12.2826 13.0331 11.966C12.104 11.2577 11.1684 10.2059 10.0001 10.2059C8.83182 10.2059 7.89615 11.2577 6.96705 11.966C6.55174 12.2826 6.03312 12.4706 5.47059 12.4706C4.10612 12.4706 3 11.3645 3 10C3 8.63553 4.10612 7.52941 5.47059 7.52941C6.03312 7.52941 6.55174 7.71742 6.96705 8.03402C7.89615 8.74231 8.83182 9.79412 10.0001 9.79412C11.1684 9.79412 12.104 8.74231 13.0331 8.03399C13.4483 7.71741 13.9669 7.52941 14.5294 7.52941C15.8939 7.52941 17 8.63553 17 10Z" fill="#0A0F13"/>
            </svg>
          img(src="./assets/images/about/about-block-sport/Mini-futbolnuy_klub_tvd copy 1.svg", alt="", srcset="").about-block-sport__card-logo
          .text-style-1920-h-2 Твій Вишуканий Дім
          div Міні-футбольний клуб 
      .about-block-sport__img-player.hide-on-tablet.hide-on-desktop
        <svg width="167" height="180" viewBox="0 0 167 180" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M52.4882 34.7191C47.4415 34.2584 38.725 31.9553 33.2196 30.1126C30.008 29.1913 28.6317 28.7306 25.8789 29.652C23.1262 30.5733 21.291 31.0341 20.3734 29.652C19.4559 28.2698 23.585 26.8878 22.6674 25.9664C21.7498 25.0451 18.0781 25.9664 16.243 26.4271C14.4078 26.8878 13.0314 25.5056 14.8666 24.1236C16.7018 22.7416 21.2905 19.9775 25.4196 21.8202C29.5487 23.6629 30.4663 24.1236 39.1833 24.1236C47.9003 24.1236 50.653 24.1238 55.2409 26.4271M52.4882 34.7191C52.947 33.7978 53.4058 32.4157 54.3233 31.0337C55.2409 29.6517 56.1585 26.8876 55.2409 26.4271M52.4882 34.7191C52.0294 35.6404 52.4882 36.1011 53.8646 37.0225C55.2409 37.9438 60.2876 40.7079 61.2052 41.6292C62.1228 42.5506 62.1228 43.0112 61.664 44.3933C61.2052 45.7753 61.2052 53.6067 62.1228 62.8202C63.0404 72.0337 63.0404 80.7865 62.5816 84.9326C62.4629 86.0051 63.0196 86.831 63.9579 87.4661M55.2409 26.4271C53.8646 25.7824 58.5358 24.5843 66.0641 27.809M97.4496 50.8427C96.685 53.1461 94.8804 58.9506 93.7793 63.7416C92.4029 69.7303 93.3205 74.7978 93.7793 76.6404C94.1315 78.0549 94.7539 80.8265 93.7793 82.6634M97.4496 50.8427L92.8617 49M97.4496 50.8427C98.3672 51.1498 100.661 52.0405 102.496 53.1461C104.79 54.5281 105.249 53.6067 105.249 53.1461C105.249 52.9895 105.355 52.0349 105.729 50.8427M112.131 45.3146C113.507 45.3146 112.59 43.4719 109.378 41.1685C106.167 38.8652 93.3205 29.191 88.2738 28.2697C85.0623 27.809 81.8507 28.2697 80.9332 28.7303M112.131 45.3146C108.194 45.3146 106.456 48.5268 105.729 50.8427M112.131 45.3146C114.884 45.7753 119.472 53.1461 120.848 56.8315C122.224 60.5169 124.977 69.2697 125.895 70.6517C126.812 72.0337 128.189 74.3371 126.812 76.6404C126 77.8819 125 78.1795 125 78.1795M80.9332 28.7303C79.5568 30.1126 79.098 33.3371 72.6749 33.3371C69.4007 33.3371 67.3186 30.8231 66.0641 27.809M80.9332 28.7303C81.3319 28.1964 81.9906 26.9954 82.6081 25.5056M65.5078 13.9888C64.6804 15.9101 64.4167 17.9452 64.4167 19.5169C64.4167 21.5494 64.8578 24.9104 66.0641 27.809M65.5078 13.9888C66.8629 10.8417 69.7303 8 75.4277 8C84.6035 8 84.1447 17.2135 84.1447 19.0562C84.1447 21.14 83.4113 23.5673 82.6081 25.5056M65.5078 13.9888C65.7931 15.3708 66.7107 16.2921 70.8398 15.3708C74.9689 14.4494 76.3453 13.9888 77.7216 14.9101C79.098 15.8315 78.1804 18.1348 80.0156 18.1348C81.8507 18.1348 82.3095 19.5169 81.392 20.8989C80.4744 22.2809 80.6126 26.8877 82.6081 25.5056M105.729 50.8427C105.477 51.764 105.708 52.6854 107.084 53.6067C108.461 54.5281 115.801 65.5843 118.095 69.2697C120.389 72.9551 118.095 77.1011 119.93 78.4831C120.368 78.8127 120.91 79.0112 121.5 79.0914C122.647 79.1437 123.136 78.9417 123.333 78.6433M122.224 76.1798C122.549 76.1798 123.335 76.9648 123.439 77.8819C123.465 78.1456 123.48 78.4211 123.333 78.6433M124.518 74.3371C125.239 74.6988 126.059 75.6288 125.895 76.9038C125.751 77.4136 125.456 77.8646 125 78.1795M63.9579 87.4661C66.6469 89.2862 72.4695 89.5393 74.5101 89.5393C77.2628 89.5393 81.8507 89.0787 92.4029 84.0112C93.0427 83.69 93.4842 83.2196 93.7793 82.6634M63.9579 87.4661C61.2052 89.5393 54.7821 102.438 52.947 109.809M52.947 109.809C52.4882 112.112 52.4882 113.955 51.5706 115.337C50.653 116.719 49.7354 122.247 50.653 128.697M52.947 109.809C57.9937 109.809 67.3772 114.876 69.7967 117.64M50.653 128.697C54.3233 129.157 61.2052 130.539 62.5816 131M50.653 128.697C51.5706 134.685 52.947 148.045 52.947 154.955C52.947 155.417 53.0046 155.821 53.12 156.167M62.5816 131C62.5816 128.697 67.1695 121.326 69.4634 118.101C69.5657 117.957 69.6771 117.804 69.7967 117.64M62.5816 131C63.5 135 64 144 63.5 153M113.966 98.7528C119.013 103.82 105.708 110.27 101.12 111.191C100.792 111.257 100.487 111.304 100.202 111.334M113.966 98.7528C108.919 93.6854 95.6144 83.1582 93.7793 82.6634M113.966 98.7528C114.884 99.6742 116.994 101.885 118.095 103.36C119.472 105.202 119.472 104.281 119.93 103.82M69.7967 117.64C72.36 114.145 78.7006 106.399 80.0156 102.438C81.392 104.742 85.0623 107.045 92.4029 108.427C96.2366 109.282 96.5109 111.726 100.202 111.334M100.202 111.334C102.955 114.416 110.296 121.326 115.342 122.708C120.389 124.09 124.518 123.169 127.73 119.483C129.008 118.016 129.778 116.403 130.154 114.876M119.93 103.82C126.812 103.82 128.189 107.506 129.565 109.348C130.393 110.457 130.723 112.568 130.154 114.876M119.93 103.82C120.504 102.235 123.313 99.2447 130.024 99.1858M130.024 99.1858C130.465 99.1819 130.924 99.1907 131.4 99.2135C131.767 99.2135 130.635 99.195 130.024 99.1858ZM130.024 99.1858C129.871 97.1988 130.574 93.3169 134.612 93.6854C139.658 94.1461 141.952 95.9888 145.623 95.9888C149.293 95.9888 156.274 98.2921 154.798 103.82C153.323 109.348 147.458 107.045 145.164 106.124C143.329 105.202 137.719 105.202 136.624 105.663M130.154 114.876C131.487 112.727 134.428 108.151 135.529 107.045C135.878 106.695 136.285 106.224 136.624 105.663M134.612 99.1858C138.038 101.574 137.626 104.008 136.624 105.663M61.5 157C61.0264 157.064 60 158.18 57 158C55.6274 157.918 53.4647 157.202 53.12 156.167M53.12 156.167C53.2153 156.531 52.8552 157.443 50.653 158.18C47.9003 159.101 40.5596 160.483 40.5596 163.708C40.5596 166.933 43.3124 167.854 47.9003 167.854C52.4882 167.854 54.7821 167.854 57.0761 167.854C59.37 167.854 61.4426 167.393 62.2415 166.011M123.333 78.6433C124.028 78.6433 124.581 78.4688 125 78.1795" stroke="#0A0F13" stroke-width="1.5" stroke-linecap="round"/>
          <path d="M65.3971 151.455L66.75 153.059M65.3971 151.455C67.1032 150.113 69.1983 149.244 71.4853 149.044M65.3971 151.455C64.9133 151.836 64.4608 152.254 64.0441 152.706C62.442 154.443 61.3684 156.675 61.0787 159.147M66.75 153.059L65.0588 156.441M66.75 153.059L71.1471 151.455M65.0588 156.441L61.0787 159.147M65.0588 156.441L68.4412 158.809M61.0787 159.147C61.0267 159.591 61 160.042 61 160.5C61 160.794 61.011 161.085 61.0327 161.373C61.1973 163.566 61.9768 165.587 63.1991 167.265M61.0787 159.147L64.0441 163.882M64.0441 163.882H67.4265M64.0441 163.882L63.1991 167.265M67.4265 163.882L68.4412 158.809M67.4265 163.882L70.4706 165.912M68.4412 158.809L72.5 157.456M72.5 157.456L74.1912 153.735M72.5 157.456L76.2206 160.838M74.1912 153.735L71.1471 151.455M74.1912 153.735L78.5882 154.412M71.1471 151.455C71.1471 151.115 71.3726 149.706 71.4853 149.044M71.4853 149.044C71.8196 149.015 72.1581 149 72.5 149C75.6828 149 78.5636 150.293 80.6458 152.382M78.5882 154.412L80.6458 152.382M78.5882 154.412L79.6029 158.809M80.6458 152.382C82.7186 154.462 84 157.332 84 160.5C84 160.613 83.9984 160.726 83.9951 160.838M79.6029 158.809L81.9706 161.176M79.6029 158.809L76.2206 160.838M81.9706 161.176L83.9951 160.838M81.9706 161.176L80.9559 165.235M83.9951 160.838C83.9352 162.912 83.3264 164.848 82.3088 166.506M80.9559 165.235L82.3088 166.506M80.9559 165.235L77.9118 167.603M82.3088 166.506C80.7536 169.041 78.2437 170.926 75.2798 171.662M77.9118 167.603L75.2798 171.662M77.9118 167.603L74.8676 164.897M75.2798 171.662C75.0327 171.723 74.7825 171.776 74.5294 171.821M74.8676 164.897L76.2206 160.838M74.8676 164.897L70.4706 165.912M70.4706 165.912V169.294M70.4706 169.294L74.5294 171.821M70.4706 169.294L66.4938 170.309M74.5294 171.821C73.8706 171.939 73.1925 172 72.5 172C70.2987 172 68.2419 171.382 66.4938 170.309M66.4938 170.309C65.3271 169.593 64.2979 168.675 63.4551 167.603C63.3678 167.492 63.2824 167.379 63.1991 167.265" stroke="#0A0F13" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
      .about-block-sport__text1.text-style-1920-h-2.color-white 
        p(data-split-lines-new-animation) Історія компанії — це не лише про бетон і архітектуру. Вона тісно пов’язана зі спортом. У 1997 TVD створила власний футзальний клуб, який з аматорської ініціативи виріс до професійного рівня. 
        p(data-split-lines-new-animation) У 2008 році клуб TVD став першою командою із західної України, що виграв Кубок України, а всі гравці отримали звання майстрів спорту.
      .about-block-sport__text2.text-style-1920-h-2.color-white(data-split-lines-new-animation) Клуб TVD став символом того, як любов до гри, послідовність і віра в команду можуть створити професійний рівень з аматорського старту.
      .about-block-sport__text3.color-white
        p(data-split-lines-new-animation) На міжнародному рівні клуб також досяг значних успіхів, зокрема здобувши перемогу на турнірі Brazilian Supercup в Бразилії (2004 рік), де у фіналі було переможено збірну Бразилії. Крім цього, TVD чотири рази вигравала Кубок Фламандської ліги в Бельгії та двічі ставав переможцем відкритого Чемпіонату Європи з міні-футболу на траві в Нідерландах.
        p(data-split-lines-new-animation) З 2010 року професійна команда завершила виступи на високому рівні, однак спортивна історія продовжується ветеранським клубом, який регулярно здобуває нагороди у вікових категоріях 40+, 50+, 55+, та 60+, залишаючись частиною корпоративного ДНК.
        p(data-split-lines-new-animation) Ідея “розвитку через спорт” — це не гасло, а цінність, що відображає бачення компанії: створювати не лише об'єкти, а середовище для повноцінного життя.
      //- img(src="./assets/images/about/about-block-sport/Socker player.svg", alt="", srcset="").about-block-sport__img-player
      .about-block-sport__img-player.hide-on-mobile
        <svg  class="hide-on-mobile" xmlns="http://www.w3.org/2000/svg" width="160" height="180" viewBox="0 0 160 180" fill="none">
          <path d="M48.4882 34.7191C43.4415 34.2584 34.725 31.9553 29.2196 30.1126C26.008 29.1913 24.6317 28.7306 21.8789 29.652C19.1262 30.5733 17.291 31.0341 16.3734 29.652C15.4559 28.2698 19.585 26.8878 18.6674 25.9664C17.7498 25.0451 14.0781 25.9664 12.243 26.4271C10.4078 26.8878 9.03144 25.5056 10.8666 24.1236C12.7018 22.7416 17.2905 19.9775 21.4196 21.8202C25.5487 23.6629 26.4663 24.1236 35.1833 24.1236C43.9003 24.1236 46.653 24.1238 51.2409 26.4271M48.4882 34.7191C48.947 33.7978 49.4058 32.4157 50.3233 31.0337C51.2409 29.6517 52.1585 26.8876 51.2409 26.4271M48.4882 34.7191C48.0294 35.6404 48.4882 36.1011 49.8646 37.0225C51.2409 37.9438 56.2876 40.7079 57.2052 41.6292C58.1228 42.5506 58.1228 43.0112 57.664 44.3933C57.2052 45.7753 57.2052 53.6067 58.1228 62.8202C59.0404 72.0337 59.0404 80.7865 58.5816 84.9326C58.4629 86.0051 59.0196 86.831 59.9579 87.4661M51.2409 26.4271C49.8646 25.7824 54.5357 24.5843 62.0641 27.809M93.4496 50.8427C92.685 53.1461 90.8804 58.9506 89.7793 63.7416C88.4029 69.7303 89.3205 74.7978 89.7793 76.6404C90.1315 78.0549 90.7539 80.8265 89.7793 82.6634M93.4496 50.8427L88.8617 49M93.4496 50.8427C94.3672 51.1498 96.6611 52.0405 98.4963 53.1461C100.79 54.5281 101.249 53.6067 101.249 53.1461C101.249 52.9895 101.355 52.0349 101.729 50.8427M108.131 45.3146C109.507 45.3146 108.59 43.4719 105.378 41.1685C102.167 38.8652 89.3205 29.191 84.2738 28.2697C81.0623 27.809 77.8507 28.2697 76.9332 28.7303M108.131 45.3146C104.194 45.3146 102.456 48.5268 101.729 50.8427M108.131 45.3146C110.884 45.7753 115.472 53.1461 116.848 56.8315C118.224 60.5169 120.977 69.2697 121.895 70.6517C122.812 72.0337 124.189 74.3371 122.812 76.6404C122 77.8819 121 78.1795 121 78.1795M76.9332 28.7303C75.5568 30.1126 75.098 33.3371 68.6749 33.3371C65.4007 33.3371 63.3186 30.8231 62.0641 27.809M76.9332 28.7303C77.3319 28.1964 77.9906 26.9954 78.6081 25.5056M61.5078 13.9888C60.6804 15.9101 60.4167 17.9452 60.4167 19.5169C60.4167 21.5494 60.8578 24.9104 62.0641 27.809M61.5078 13.9888C62.8629 10.8417 65.7303 8 71.4277 8C80.6035 8 80.1447 17.2135 80.1447 19.0562C80.1447 21.14 79.4113 23.5673 78.6081 25.5056M61.5078 13.9888C61.7931 15.3708 62.7107 16.2921 66.8398 15.3708C70.9689 14.4494 72.3453 13.9888 73.7216 14.9101C75.098 15.8315 74.1804 18.1348 76.0156 18.1348C77.8507 18.1348 78.3095 19.5169 77.392 20.8989C76.4744 22.2809 76.6126 26.8877 78.6081 25.5056M101.729 50.8427C101.477 51.764 101.708 52.6854 103.084 53.6067C104.461 54.5281 111.801 65.5843 114.095 69.2697C116.389 72.9551 114.095 77.1011 115.93 78.4831C116.368 78.8127 116.91 79.0112 117.5 79.0914C118.647 79.1437 119.136 78.9417 119.333 78.6433M118.224 76.1798C118.549 76.1798 119.335 76.9648 119.439 77.8819C119.465 78.1456 119.48 78.4211 119.333 78.6433M120.518 74.3371C121.239 74.6988 122.059 75.6288 121.895 76.9038C121.751 77.4136 121.456 77.8646 121 78.1795M59.9579 87.4661C62.6469 89.2862 68.4695 89.5393 70.5101 89.5393C73.2628 89.5393 77.8507 89.0787 88.4029 84.0112C89.0427 83.69 89.4842 83.2196 89.7793 82.6634M59.9579 87.4661C57.2052 89.5393 50.7821 102.438 48.947 109.809M48.947 109.809C48.4882 112.112 48.4882 113.955 47.5706 115.337C46.653 116.719 45.7354 122.247 46.653 128.697M48.947 109.809C53.9937 109.809 63.3772 114.876 65.7967 117.64M46.653 128.697C50.3233 129.157 57.2052 130.539 58.5816 131M46.653 128.697C47.5706 134.685 48.947 148.045 48.947 154.955C48.947 155.417 49.0047 155.821 49.12 156.167M58.5816 131C58.5816 128.697 63.1695 121.326 65.4634 118.101C65.5657 117.957 65.6771 117.804 65.7967 117.64M58.5816 131C58.7345 134.365 59.0404 142.02 59.0404 145.721M109.966 98.7528C115.013 103.82 101.708 110.27 97.1199 111.191C96.7916 111.257 96.4868 111.304 96.2023 111.334M109.966 98.7528C104.919 93.6854 91.6145 83.1582 89.7793 82.6634M109.966 98.7528C110.884 99.6742 112.994 101.885 114.095 103.36C115.472 105.202 115.472 104.281 115.93 103.82M65.7967 117.64C68.36 114.145 74.7006 106.399 76.0156 102.438C77.392 104.742 81.0623 107.045 88.4029 108.427C92.2366 109.282 92.5109 111.726 96.2023 111.334M96.2023 111.334C98.9551 114.416 106.296 121.326 111.342 122.708C116.389 124.09 120.518 123.169 123.73 119.483C125.008 118.016 125.778 116.403 126.154 114.876M115.93 103.82C122.812 103.82 124.189 107.506 125.565 109.348C126.393 110.457 126.723 112.568 126.154 114.876M115.93 103.82C116.504 102.235 119.313 99.2447 126.024 99.1858M126.024 99.1858C126.465 99.1819 126.924 99.1907 127.4 99.2135C127.767 99.2135 126.635 99.195 126.024 99.1858ZM126.024 99.1858C125.871 97.1988 126.574 93.3169 130.612 93.6854C135.658 94.1461 137.952 95.9888 141.623 95.9888C145.293 95.9888 152.274 98.2921 150.798 103.82C149.323 109.348 143.458 107.045 141.164 106.124C139.329 105.202 133.719 105.202 132.624 105.663M126.154 114.876C127.487 112.727 130.428 108.151 131.529 107.045C131.878 106.695 132.285 106.224 132.624 105.663M130.612 99.1858C134.038 101.574 133.626 104.008 132.624 105.663M60.8755 144.018L62.7107 146.202M60.8755 144.018C63.1898 142.191 66.0316 141.007 69.1337 140.734M60.8755 144.018C60.2194 144.536 59.6056 145.106 59.0404 145.721M62.7107 146.202L60.4167 150.809M62.7107 146.202L68.6749 144.018M60.4167 150.809L55.0181 154.494M60.4167 150.809L65.0046 154.034M55.0181 154.494C54.9475 155.099 54.9112 155.714 54.9112 156.337C54.9112 156.737 54.9262 157.134 54.9556 157.527M55.0181 154.494L59.0404 160.944M55.0181 154.494C55.411 151.128 56.8672 148.088 59.0404 145.721M59.0404 160.944H63.6283M59.0404 160.944L57.8941 165.551M63.6283 160.944L65.0046 154.034M63.6283 160.944L67.7574 163.708M65.0046 154.034L70.5101 152.191M70.5101 152.191L72.8041 147.124M70.5101 152.191L75.5568 156.798M72.8041 147.124L68.6749 144.018M72.8041 147.124L78.7683 148.045M68.6749 144.018C68.6749 143.554 68.9808 141.636 69.1337 140.734M69.1337 140.734C69.5872 140.694 70.0463 140.674 70.5101 140.674C74.8273 140.674 78.7349 142.435 81.5592 145.281M78.7683 148.045L81.5592 145.281M78.7683 148.045L80.1447 154.034M81.5592 145.281C84.3709 148.114 86.109 152.022 86.109 156.337C86.109 156.491 86.1068 156.645 86.1024 156.798M80.1447 154.034L83.3562 157.258M80.1447 154.034L75.5568 156.798M83.3562 157.258L86.1024 156.798M83.3562 157.258L81.9799 162.787M86.1024 156.798C86.0211 159.622 85.1953 162.259 83.815 164.518M81.9799 162.787L83.815 164.518M81.9799 162.787L77.8507 166.011M83.815 164.518C81.7055 167.969 78.301 170.537 74.2807 171.539M77.8507 166.011L74.2807 171.539M77.8507 166.011L73.7216 162.326M74.2807 171.539C73.9456 171.623 73.6062 171.696 73.2628 171.757M73.7216 162.326L75.5568 156.798M73.7216 162.326L67.7574 163.708M67.7574 163.708V168.315M67.7574 168.315L73.2628 171.757M67.7574 168.315L62.3631 169.697M73.2628 171.757C72.3693 171.917 71.4494 172 70.5101 172C67.5242 172 64.7343 171.158 62.3631 169.697M62.3631 169.697C60.7806 168.722 59.3846 167.471 58.2415 166.011M57.8941 165.551C56.2361 163.266 55.1789 160.513 54.9556 157.527M57.8941 165.551C58.0071 165.706 58.1229 165.86 58.2415 166.011M54.9556 157.527C54.482 157.591 53.1678 157.719 51.6997 157.719C50.3247 157.719 49.4647 157.202 49.12 156.167M49.12 156.167C49.2153 156.531 48.8552 157.443 46.653 158.18C43.9003 159.101 36.5596 160.483 36.5596 163.708C36.5596 166.933 39.3124 167.854 43.9003 167.854C48.4882 167.854 50.7821 167.854 53.0761 167.854C55.37 167.854 57.4426 167.393 58.2415 166.011M119.333 78.6433C120.028 78.6433 120.581 78.4688 121 78.1795" stroke="#EFF3F5" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
        <svg class="hide-on-desktop hide-on-tablet" width="167" height="180" viewBox="0 0 167 180" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M52.4882 34.7191C47.4415 34.2584 38.725 31.9553 33.2196 30.1126C30.008 29.1913 28.6317 28.7306 25.8789 29.652C23.1262 30.5733 21.291 31.0341 20.3734 29.652C19.4559 28.2698 23.585 26.8878 22.6674 25.9664C21.7498 25.0451 18.0781 25.9664 16.243 26.4271C14.4078 26.8878 13.0314 25.5056 14.8666 24.1236C16.7018 22.7416 21.2905 19.9775 25.4196 21.8202C29.5487 23.6629 30.4663 24.1236 39.1833 24.1236C47.9003 24.1236 50.653 24.1238 55.2409 26.4271M52.4882 34.7191C52.947 33.7978 53.4058 32.4157 54.3233 31.0337C55.2409 29.6517 56.1585 26.8876 55.2409 26.4271M52.4882 34.7191C52.0294 35.6404 52.4882 36.1011 53.8646 37.0225C55.2409 37.9438 60.2876 40.7079 61.2052 41.6292C62.1228 42.5506 62.1228 43.0112 61.664 44.3933C61.2052 45.7753 61.2052 53.6067 62.1228 62.8202C63.0404 72.0337 63.0404 80.7865 62.5816 84.9326C62.4629 86.0051 63.0196 86.831 63.9579 87.4661M55.2409 26.4271C53.8646 25.7824 58.5358 24.5843 66.0641 27.809M97.4496 50.8427C96.685 53.1461 94.8804 58.9506 93.7793 63.7416C92.4029 69.7303 93.3205 74.7978 93.7793 76.6404C94.1315 78.0549 94.7539 80.8265 93.7793 82.6634M97.4496 50.8427L92.8617 49M97.4496 50.8427C98.3672 51.1498 100.661 52.0405 102.496 53.1461C104.79 54.5281 105.249 53.6067 105.249 53.1461C105.249 52.9895 105.355 52.0349 105.729 50.8427M112.131 45.3146C113.507 45.3146 112.59 43.4719 109.378 41.1685C106.167 38.8652 93.3205 29.191 88.2738 28.2697C85.0623 27.809 81.8507 28.2697 80.9332 28.7303M112.131 45.3146C108.194 45.3146 106.456 48.5268 105.729 50.8427M112.131 45.3146C114.884 45.7753 119.472 53.1461 120.848 56.8315C122.224 60.5169 124.977 69.2697 125.895 70.6517C126.812 72.0337 128.189 74.3371 126.812 76.6404C126 77.8819 125 78.1795 125 78.1795M80.9332 28.7303C79.5568 30.1126 79.098 33.3371 72.6749 33.3371C69.4007 33.3371 67.3186 30.8231 66.0641 27.809M80.9332 28.7303C81.3319 28.1964 81.9906 26.9954 82.6081 25.5056M65.5078 13.9888C64.6804 15.9101 64.4167 17.9452 64.4167 19.5169C64.4167 21.5494 64.8578 24.9104 66.0641 27.809M65.5078 13.9888C66.8629 10.8417 69.7303 8 75.4277 8C84.6035 8 84.1447 17.2135 84.1447 19.0562C84.1447 21.14 83.4113 23.5673 82.6081 25.5056M65.5078 13.9888C65.7931 15.3708 66.7107 16.2921 70.8398 15.3708C74.9689 14.4494 76.3453 13.9888 77.7216 14.9101C79.098 15.8315 78.1804 18.1348 80.0156 18.1348C81.8507 18.1348 82.3095 19.5169 81.392 20.8989C80.4744 22.2809 80.6126 26.8877 82.6081 25.5056M105.729 50.8427C105.477 51.764 105.708 52.6854 107.084 53.6067C108.461 54.5281 115.801 65.5843 118.095 69.2697C120.389 72.9551 118.095 77.1011 119.93 78.4831C120.368 78.8127 120.91 79.0112 121.5 79.0914C122.647 79.1437 123.136 78.9417 123.333 78.6433M122.224 76.1798C122.549 76.1798 123.335 76.9648 123.439 77.8819C123.465 78.1456 123.48 78.4211 123.333 78.6433M124.518 74.3371C125.239 74.6988 126.059 75.6288 125.895 76.9038C125.751 77.4136 125.456 77.8646 125 78.1795M63.9579 87.4661C66.6469 89.2862 72.4695 89.5393 74.5101 89.5393C77.2628 89.5393 81.8507 89.0787 92.4029 84.0112C93.0427 83.69 93.4842 83.2196 93.7793 82.6634M63.9579 87.4661C61.2052 89.5393 54.7821 102.438 52.947 109.809M52.947 109.809C52.4882 112.112 52.4882 113.955 51.5706 115.337C50.653 116.719 49.7354 122.247 50.653 128.697M52.947 109.809C57.9937 109.809 67.3772 114.876 69.7967 117.64M50.653 128.697C54.3233 129.157 61.2052 130.539 62.5816 131M50.653 128.697C51.5706 134.685 52.947 148.045 52.947 154.955C52.947 155.417 53.0046 155.821 53.12 156.167M62.5816 131C62.5816 128.697 67.1695 121.326 69.4634 118.101C69.5657 117.957 69.6771 117.804 69.7967 117.64M62.5816 131C63.5 135 64 144 63.5 153M113.966 98.7528C119.013 103.82 105.708 110.27 101.12 111.191C100.792 111.257 100.487 111.304 100.202 111.334M113.966 98.7528C108.919 93.6854 95.6144 83.1582 93.7793 82.6634M113.966 98.7528C114.884 99.6742 116.994 101.885 118.095 103.36C119.472 105.202 119.472 104.281 119.93 103.82M69.7967 117.64C72.36 114.145 78.7006 106.399 80.0156 102.438C81.392 104.742 85.0623 107.045 92.4029 108.427C96.2366 109.282 96.5109 111.726 100.202 111.334M100.202 111.334C102.955 114.416 110.296 121.326 115.342 122.708C120.389 124.09 124.518 123.169 127.73 119.483C129.008 118.016 129.778 116.403 130.154 114.876M119.93 103.82C126.812 103.82 128.189 107.506 129.565 109.348C130.393 110.457 130.723 112.568 130.154 114.876M119.93 103.82C120.504 102.235 123.313 99.2447 130.024 99.1858M130.024 99.1858C130.465 99.1819 130.924 99.1907 131.4 99.2135C131.767 99.2135 130.635 99.195 130.024 99.1858ZM130.024 99.1858C129.871 97.1988 130.574 93.3169 134.612 93.6854C139.658 94.1461 141.952 95.9888 145.623 95.9888C149.293 95.9888 156.274 98.2921 154.798 103.82C153.323 109.348 147.458 107.045 145.164 106.124C143.329 105.202 137.719 105.202 136.624 105.663M130.154 114.876C131.487 112.727 134.428 108.151 135.529 107.045C135.878 106.695 136.285 106.224 136.624 105.663M134.612 99.1858C138.038 101.574 137.626 104.008 136.624 105.663M61.5 157C61.0264 157.064 60 158.18 57 158C55.6274 157.918 53.4647 157.202 53.12 156.167M53.12 156.167C53.2153 156.531 52.8552 157.443 50.653 158.18C47.9003 159.101 40.5596 160.483 40.5596 163.708C40.5596 166.933 43.3124 167.854 47.9003 167.854C52.4882 167.854 54.7821 167.854 57.0761 167.854C59.37 167.854 61.4426 167.393 62.2415 166.011M123.333 78.6433C124.028 78.6433 124.581 78.4688 125 78.1795" stroke="#0A0F13" stroke-width="1.5" stroke-linecap="round"/>
          <path d="M65.3971 151.455L66.75 153.059M65.3971 151.455C67.1032 150.113 69.1983 149.244 71.4853 149.044M65.3971 151.455C64.9133 151.836 64.4608 152.254 64.0441 152.706C62.442 154.443 61.3684 156.675 61.0787 159.147M66.75 153.059L65.0588 156.441M66.75 153.059L71.1471 151.455M65.0588 156.441L61.0787 159.147M65.0588 156.441L68.4412 158.809M61.0787 159.147C61.0267 159.591 61 160.042 61 160.5C61 160.794 61.011 161.085 61.0327 161.373C61.1973 163.566 61.9768 165.587 63.1991 167.265M61.0787 159.147L64.0441 163.882M64.0441 163.882H67.4265M64.0441 163.882L63.1991 167.265M67.4265 163.882L68.4412 158.809M67.4265 163.882L70.4706 165.912M68.4412 158.809L72.5 157.456M72.5 157.456L74.1912 153.735M72.5 157.456L76.2206 160.838M74.1912 153.735L71.1471 151.455M74.1912 153.735L78.5882 154.412M71.1471 151.455C71.1471 151.115 71.3726 149.706 71.4853 149.044M71.4853 149.044C71.8196 149.015 72.1581 149 72.5 149C75.6828 149 78.5636 150.293 80.6458 152.382M78.5882 154.412L80.6458 152.382M78.5882 154.412L79.6029 158.809M80.6458 152.382C82.7186 154.462 84 157.332 84 160.5C84 160.613 83.9984 160.726 83.9951 160.838M79.6029 158.809L81.9706 161.176M79.6029 158.809L76.2206 160.838M81.9706 161.176L83.9951 160.838M81.9706 161.176L80.9559 165.235M83.9951 160.838C83.9352 162.912 83.3264 164.848 82.3088 166.506M80.9559 165.235L82.3088 166.506M80.9559 165.235L77.9118 167.603M82.3088 166.506C80.7536 169.041 78.2437 170.926 75.2798 171.662M77.9118 167.603L75.2798 171.662M77.9118 167.603L74.8676 164.897M75.2798 171.662C75.0327 171.723 74.7825 171.776 74.5294 171.821M74.8676 164.897L76.2206 160.838M74.8676 164.897L70.4706 165.912M70.4706 165.912V169.294M70.4706 169.294L74.5294 171.821M70.4706 169.294L66.4938 170.309M74.5294 171.821C73.8706 171.939 73.1925 172 72.5 172C70.2987 172 68.2419 171.382 66.4938 170.309M66.4938 170.309C65.3271 169.593 64.2979 168.675 63.4551 167.603C63.3678 167.492 63.2824 167.379 63.1991 167.265" stroke="#0A0F13" stroke-width="1.5" stroke-linecap="round"/>
        </svg>

  .about-block9.g_side_padding
    .about-block9__content
      +title-decor()
      .about-block9__top
        .text-style-1920-h-1.text-style-768-h-1.text-style-375-h-1 Спортивні нагороди
        .about-block9__nav
          button(type="button" data-about-sport-awards-slider-prev).nav-arrow
            <svg width="60" height="24" viewBox="0 0 60 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M59.0005 11.9995L3.99935 11.9997M3.99935 11.9997L13.9871 21.9874M3.99935 11.9997L13.9871 2.01191" stroke="#0A0F13" stroke-width="4"/>
              <rect x="4.07843" y="9.18" width="4" height="4" transform="rotate(45 4.07843 9.18)" fill="#0A0F13"/>
            </svg>
          button(type="button" data-about-sport-awards-slider-next).nav-arrow
            <svg width="60" height="24" viewBox="0 0 60 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.999501 11.9995L56.0006 11.9997M56.0006 11.9997L46.0129 21.9874M56.0006 11.9997L46.0129 2.01191" stroke="#0A0F13" stroke-width="4"/>
              <rect x="56.0284" y="9.14" width="4" height="4" transform="rotate(45 56.0284 9.14)" fill="#0A0F13"/>
            </svg>
      .swiper-container(data-about-sport-awards-slider)
        .swiper-wrapper
          each project, index in block9
            .swiper-slide.about-block9__slide(data-about-sport-awards-slide)
              .about-block9__img-wrapper
                .about-block9__img-wrapper-cover
                img(src=project.filename alt="" loading="lazy", srcset="")
              .about-block9__text.color-black #{project.text}
  include ../includes/contact-screen.pug
  include ../includes/form-screen.pug
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
